<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Firewall Configuration Assessment Toolkit</title>

    <meta name="description" content="FwCAT - An open-source firewall configuration assessment toolkit">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fwgui.css" rel="stylesheet">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="static/js/vue.js"></script>
    <script>if (window.module) module = window.module;</script>
    <!-- <script>require('./static/js/vue.js')</script> -->
  </head>

  <body>

    <div class="container-fluid">
        <!-- Navigation Bar -->
        <div class="row fw-navbar fw-hmenu">
            <div class="col-md-9" id="workspacebar">
                <ul>
                    <workspace-menu
                        v-for="(w, index) in workspaces"
                        v-bind:id="w.id"
                        v-bind:number="index+1"
                        v-bind:isactive="w.active"
                        v-on:cevent-changews="changeWorkspace(w.id)">
                    </workspace-menu>
                </ul>
            </div>
            <div class="col-md-3" id="parser">
                <input placeholder="File path to parse" v-on:keyup.enter="parseFirewall">
                <!-- <button v-on:click="parseFirewall">P</button> -->
                <span v-if="ajaxRequest">Waiting for parsing...</span>
            </div>
        </div>

        <!-- Commands Bar -->
        <div class="row fw-cmdbar">
            <div class="col-md-12">
            </div>
        </div>
    
        
        <!-- Workspace -->
        <div class="row fw-workspace h-100" id="mainworkspace">
            <template v-if="initialParse">
                <!-- Left Pane -->
                <div class="col-md-3 fw-leftpane h-100" id="leftpane">
                    <span class="fw-hostname">{{fwData.host.hostname}}</span>
                </div>
                <!-- Right Pane -->
                <div class="col-md-9 fw-rightpane">
                    <div class="row">
                        <div class="col-md-12 fw-mainlist">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 fw-details">
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <!-- Footer -->
        <div class="footer">
            Firewall Configuration Assessment Toolkit - GitHub
        </div>
    </div>
    
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- <script src="static/js/fwgui.js"></script> -->
    <script>
        // require("./static/js/vue.js")
        require("./ejsrenderer.js")
        // require("./static/js/jquery.min.js")
        // require("./static/js/bootstrap.min.js")
        // require("./static/js/fwgui.js")
    </script>
    <script>if (window.module) module = window.module;</script>
    
  </body>
</html>