body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.fw-navbar {
    background-color: darkslategray;
    height: 40px;
}

.fw-cmdbar {
    background-color: slategrey;
    height: 25px;
}

.fw-workspace {
    height: 100%;
}

.fw-leftpane {
    background-color: white;
    height: 100%;
}

.fw-mainlist {
    background-color: white;
}

.fw-details {
    background-color: white;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 1ex;
 }


 /*------------------
 * TOP MENU
 *----------------*/
/* From https://www.w3schools.com/css/css_navbar.asp */
.fw-hmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    margin: 8px 0 0 0;
    overflow: hidden;
 }
   .fw-hmenu li {
      float: left;
      cursor: pointer;
   }
   .fw-hmenu li a {
      display: block;
      color: #878787;
      text-align: center;
      padding: 0px 16px;
      text-decoration: none;
      transition: color ease 0.3s;
   }
   .fw-hmenu li a:hover:not(.active) {
      color: #eaeaea;
   }
   .fw-hmenu .active {
      color: #eaeaea;
    }
   .fw-hmenu li .active {
      color: #eaeaea;
   }


 /*------------------
 * Workspace
 *----------------*/
 .fw-hostname {
    font-weight: bold;
    font-size: 1.1rem;
 }

 .loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
 }